.recipe-img {
    height: 220px;
    width: 100%;
}

.recipe-short-description {
    color: #878787;
}

.hr-line {
    color: rgba(40, 40, 40, 0.1);
}

.ingredients-list {
    color: #878787;
}

.time-and-calorie {
    color: rgba(40, 40, 40, 0.8);
}

.want-to-cook-btn {
    background-color: #0BE58A;
    color: #150B2B;
}

.want-to-cook-btn:hover {
    background-color: #F4A261;
    color: white;
}


.want-to-cook-btn:active{
    background-color: #F4A261;
    color: white;
    transform: scale(0.95);
}

thead {
    color: #878787;
}